<section class="container py-5">

    <h2 class="text-center mb-5">
        How It Works
    </h2>

    <div class="row">

        <div class="col-md-3 text-center">

            <h4>1</h4>

            <p>
                Tell Us What You Need. 
                Share your exact product specifications, 
                reference images, target pricing, and estimated order quantities 
                (MOQ) with our team. 
            </p>

        </div>

        <div class="col-md-3 text-center">

            <h4>2</h4>

            <p>
                Supplier Matching & Quotations
                We search our localized manufacturing networks to vet factories, 
                negotiate direct-from-manufacturer pricing, and present you with the best competitive quotes.
            </p>

        </div>

        <div class="col-md-3 text-center">

            <h4>3</h4>

            <p>
                Sample Development & Approval Before you wire any bulk deposits, we secure product samples from the factory. 
                We check them in-office or ship them to you to guarantee the materials and specifications are flawless.
            </p>

        </div>

        <div class="col-md-3 text-center">

            <h4>4</h4>

            <p>
                Direct Order Placement & Price NegotiationOnce you give the green light, we finalize the contracts, manage localized payment processing securely, 
                and oversee the mass production timeline directly on the factory floor.
            </p>

        </div>
        <div class="col-md-3 text-center">

            <h4>5</h4>

            <p>
                Strict Pre-Shipment Inspection Our "boots on the ground " team conducts hands-on quality control (QC) checks at the factory before loading. 
                We send you comprehensive photo and video evidence so you know your order is perfect. 
            </p>

        </div>
        <div class="col-md-3 text-center">

            <h4>6</h4>

            <p>
                 Safe Global Shipping & LogisticsWe consolidate your goods at our warehouse,
                  handle all Chinese customs declarations and export paperwork, and arrange hassle-free 
                  shipping directly to your destination port.
            </p>

        </div>

    </div>

</section>