{% extends 'shop/base.html' %}

{% block content %}

{% include 'shop/partials/hero.html' %}

{% include 'shop/partials/how_it_works.html' %}

{% include 'shop/partials/services.html' %}

{% include 'shop/partials/company_profile.html' %}

{% include 'shop/partials/gallery.html' %}

{% include 'shop/partials/shipment_proof.html' %}

{% include 'shop/partials/testmonials.html' %}

{% include 'shop/partials/success_stories.html' %}

{% include 'shop/partials/quote_form.html' %}

{% include 'shop/partials/faq.html' %}

{% endblock %}